{%extends 'top.html'%}
{% autoescape None %}
{%block content%}
  <div class="blogcontainer">
    {% if blogs %}
      {% for bo in blogs %}  
        <ul>  
          <li>
            <hr />
            <a href='/categorys/{{bo.category}}' class='text-success 6'>{{bo.categorydesc}}</a>
            <h6 style="float:right;">{{bo.publish_time.strftime( '%Y/%m/%d %H:%M' )}}</h6>
            <h6 style="float:right;">{{ bo.author+'· ' }}</h6>
            <br/>
            <br/>
            <a href='/blog/{{bo.id}}' class='text-primary h3'>{{bo.title}}</a></p>
            <p id='blogcontent{{ bo.id }}' >{{ bo.content }} </p>
          </li>
        </ul>
      {% end %}
    {% end %}
     
    {% if pn > 1 %}
      <hr />
      <ul>
        <a class="left" href="{{ pn-1 }}" style="float:left;">上一页<a/>
        <a class="right" href="{{ pn+1 }}" style="float:right;">下一页<a/>
      </ul>
    {% elif pn %}
      <hr />
      <ul>
        <a class="left" href="#" style="float:left;">上一页<a/>
        <a class="right" href="/categorys/{{category}}/2" style="float:right;">下一页<a/>
      </ul>  
    {% end %}
  </div>
{% end %}
