{%extends 'top.html'%}

{% autoescape None %}
{%block content%}

{% if blog %}
    <form method='post' action="/update/{{ blog.blogid }}" class='blogcontainer'>
        <div class='form-group'>
            分类:<select class='form-controltit' name='category' >  
                    <option value ="bigdata" selected="true">大数据</option>  
                    <option value ="datadev">数据开发</option>  
                    <option value="python">Python</option>  
                    <option value="shell">Shell</option>  
                    <option value="spitslot">吐槽</option>  
                </select>
        </div>

        <div class='form-group'> 
            标题:<input type='text' id='blogtitle' name='blogtitle' placeholder="输入标题" 
                class='form-controltit' value="{{ blog.title }}" />  
        </div>

        <div class='form-group'>
    	 内容：<textarea id="blogcontent" name='blogcontent' placeholder="输入内容" class='form-controlcon'/> 
    	      {{ blog.content }}</textarea>
    	</div>
        <div class='form-group'>
          作者：<input type='textarea' id='blogauthor' name='blogauthor' placeholder="输入作者" 
                class='form-control' value="{{ blog.author }}" />
        </div>
        <button type='submit' class='btn btn-primary'>保存更新</button>
    </form>
{% else %}
    <form method='post' class='blogcontainer'>
        <div class='form-group'>
            分类:<select name="category" class='form-controltit'>  
                    <option value ="bigdata" selected="true">大数据</option>  
                    <option value ="datadev" >数据开发</option>  
                    <option value="python">Python</option>  
                    <option value="shell">Shell</option>  
                    <option value="spitslot">吐槽</option>  
                </select>
        </div>

        <div class='form-group'> 
            标题:<input type='text' id='blogtitle' name='blogtitle' placeholder="输入标题" 
                class='form-controltit' />   
        </div>

        <div class='form-group'>
         内容：<textarea id="blogcontent" name='blogcontent' placeholder="输入内容" class='form-controlcon'/> </textarea>
        </div>
        <div class='form-group'>
          作者：<input type='textarea' id='blogauthor' name='blogauthor' placeholder="输入作者" 
                class='form-control' />
        </div>
        <button type='submit' class='btn btn-primary'>发布</button>
    </form>
{% end %}

{% end %}