{%extends 'top.html'%}
{% autoescape None %}
{%block content%}
  <div class="blogcontainer">
    {% if blogs %}
      {% for bo in blogs %}  
        <ul>  
          <li>
            <hr />
            <a href='#' class='text-success 6'>{{bo.category}}</a>
            <nobr><h6>{{bo.author}}</h6></nobr>
            <a href='/blog/{{bo.id}}' class='text-primary h3'>{{bo.title}}</a></p>
            <p id='blogcontent{{ bo.id }}' >{{ bo.content }} </p>
          </li>
        </ul>
      {% end %}
    {% end %}

    {% if blog %}
      <ul>
        <li>
          <a href='#' class='text-success h4'>{{blog.category}}</a>
          <a href='/blog/{{blog.id}}' class='text-primary h3'>{{blog.title}}</a></p>
          <p id='blogcontent{{ blog.id }}' >{{ blog.content }} </p>
        </li>
      </ul>
      <hr />
    {% end %}

     
    {% if pn > 1 %}
      <hr />
      <ul>
        <a class="left" href="{{ pn-1 }}" style="float:left;">上一页<a/>
        <a class="right" href="{{ pn+1 }}" style="float:right;">下一页<a/>
      </ul>
    {% elif pn %}
      <hr />
      <ul>
        <a class="left" href="#" style="float:left;">上一页<a/>
        <a class="right" href="/page/2" style="float:right;">下一页<a/>
      </ul>  
    {% end %}
  </div>
{% end %}
