{%extends '__base__.html'%}
{% block title %}登陆{% end block %}

{% block beforehead %}
<script src="{{ static_url('js/login.js') }}"></script>
{%end%}

{%block content%}
<div class="signcontainer">
<form action='/login' method='post' class='well'>
    <h4 class="form-signin-heading"> 登陆 </h4>
    <div id='showinfo' style="color:#F00" class="uk-alert-danger" >
      {% if msg %}{{msg}}{% end %}
    </div>
    <div class='form-group'>
      <input type='text' id='username' name='username' placeholder="用户名/邮箱" class='form-control'/>
    </div>
    <div class='form-group'>
      <input type='password' id='password' name='password' placeholder="请输入密码" class='form-control'/>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" name="rememberme"> 下次自动登陆</label>
    </div>
    <button type='submit' class='btn btn-primary' onclick='return check();'>登陆</button>
    <a href='/register'> 没有账号？立即注册</a>
</form>
</div>
{%end%}