{%extends 'top.html'%}

{%block content%}
  <div class="blogcontainer">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>作者</th>
            <th>标题</th>
            <th>内容</th>
            <th>管理</th>
          </tr>
        </thead>
        
        <tbody>
        {% if blogs %}
        {% for bo in blogs %}
          <tr>
            <td>{{ bo.id }}</td>
            <td>{{ bo.author }}</td>
            <td>{{ bo.title }}</td>
            <td>{{ bo.content }}</td>
            <td style="width: 80px">
              <a href="/edit/{{ bo.id }}">编辑</a>&nbsp;&nbsp;<a href="/del/{{ bo.id }}">删除</a>
            </td>
            </tr>
        {% end %}
        {% end %}
        </tbody>

      </table>
    </div>
  </div>
{% end %}
