{%extends '__base__.html'%}
{%block topper%}
	<!-- Fixed navbar -->
   <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="header clearfix">
          <nav>
            <ul class="nav nav-pills pull-left">
              <li role="presentation" class="active"><a href="/">首页</a></li>
              <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">技术分类<span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="/categorys/bigdata">大数据</a></li>
                    <li><a href="/categorys/datadev">数据开发</a></li>
                    <li><a href="/categorys/python">Python</a></li>
                    <li><a href="/categorys/shell">Shell</a></li>
                  </ul>
                </li>
              <li role="presentation" ><a href="/categorys/spitslot">吐槽</a></li>
            </ul>
            <ul class="nav nav-pills pull-right">
              
              {% if not cookieName %}
                <li ><a href="/login">登陆</a></li>
                <li ><a href="/register">注册</a></li>
              {% else %}
                <li role="presentation"><a href="/add">发布文章</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{cookieName}} <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">我的账号</a></li>
                    <li><a href="/mangeblog">我的文章</a></li>
                    <li><a href="logout">注销登陆</a></li>
                  </ul>
                </li>
              {% end %}
            </ul>
            <ul class="nav nav-pills pull-center">
              <form action="/?search">
                <input name="search" value="" placeholder="search" class="search-form"  >
              </form>
            </ul>
          </nav>

          
        </div>
        
      </div>
    </nav>
{% end %}